# فایل‌های پایتون
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# فایل‌های محیط مجازی
venv/
ENV/
.env
.venv

# فایل‌های لاگ
*.log
logs/

# فایل‌های تصویری بزرگ (بیشتر از 5MB)
# static/img/wordcloud.png
# static/img/BI.png
# static/img/BI1.png

# فایل‌های سیستمی
.DS_Store
Thumbs.db
desktop.ini

# فایل‌های IDE
.idea/
.vscode/
*.swp
*.swo
